@model Cliente.Web.ViewModel.ClienteViewModel
@{ var isCadastro = Model.Sequencial == 0;}

<fieldset>
    <legend>Cadastro/Edição</legend>
    <div class="content-filter">
        <div class="content-filter-text">
            <div class="content-div-filter">
                <label>Nome:</label>
            </div>
            <div class="content-div-filter">
                <label>Tipo de Pessoa:</label>
            </div>
            <div class="content-div-filter">
                <label>CPF/CNPJ:</label>
            </div>
            <div class="content-div-filter">
                <label>Idade:</label>
            </div>
            <div class="content-div-filter">
                <label>Sexo:</label>
            </div>
        </div>
        <div>
            <div class="content-div-filter">
                <input id="txtNomeC" value="@Model.Nome" style="width: 310px;" type="text" maxlength="50"/>
            </div>
            <div class="content-div-filter">
                <input type="radio" name="tipoPessoaC" value="F" checked/>
                <label>Fisica</label>
                <input type="radio" name="tipoPessoaC" value="J"/>
                <label>Juridica</label>
            </div>
            <div class="content-div-filter">
                <input value="@Model.CpfCnpj" id="txtCpfCnpjC" type="text"/>
            </div>
            <div class="content-div-filter">
                <input value="@Model.IdadeFormatada" id="txtIdade" type="text" maxlength="3"/>
            </div>
            <div class="content-div-filter">
                <select id="txtSexo">
                    <option>Selecione...</option>
                    <option @(Model.Sexo == "M" ? "selected" : string.Empty) value="M">Masculino</option>
                    <option @(Model.Sexo == "F" ? "selected" : string.Empty) value="F">Feminino</option>
                    <option @(Model.Sexo == "O" ? "selected" : string.Empty) value="O">Outro</option>
                </select>
            </div>
        </div>
    </div>
    <div class="buttons">
        <input id="btnConfirmar" type="button" value="Confirmar"/>
        <input id="btnCancelar" type="button" value="Cancelar"/>
    </div>
</fieldset>

<script>

    $("#txtCpfCnpjC").mask('000.000.000-00', { reverse: true });

    $("input[type=radio][name=tipoPessoaC]").change(function() {
        var inputCpfCnpjC = $("#txtCpfCnpjC");

        var tipoC = inputCpfCnpjC.val();
        inputCpfCnpjC.val('');

        if (tipoC == "F")
            inputCpfCnpjC.mask('000.000.000-00', { reverse: true });
        else
            inputCpfCnpjC.mask('00.000.000/0000-00', { reverse: true });
    });

    $("#btnConfirmar").click(function () {
        $.post('@Url.Action(isCadastro ? "Post" : "Put", "Cliente")', {
            Sequencial: @Model.Sequencial,
            CpfCnpj: $("#txtCpfCnpjC").val(),
            Nome: $("#txtNomeC").val(),
            Idade: $("#txtIdade").val(),
            Sexo: $("#txtSexo option:selected").val()
        }).done(function () {
            $("#sessaoCadastroEdicao").fadeOut(100, function () {
                $("#btnPesquisar").click();
            });
        }).fail(function(xhr) {
            alert(xhr.responseText);
        });
    });

    $("#btnCancelar").click(function() {
        $("#sessaoCadastroEdicao").fadeOut(100, function() {
            $("#gridResultados").slideDown();
        });
    });

</script>